@font-face {
  font-family: 'Roboto Slab';
  src:         url('../fonts/RobotoSlab/RobotoSlab-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style:  normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src:         url('../fonts/RobotoSlab/RobotoSlab-Light.ttf') format('truetype');
  font-weight: 300;
  font-style:  normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src:         url('../fonts/RobotoSlab/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src:         url('../fonts/RobotoSlab/RobotoSlab-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style:  normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src:         url('../fonts/RobotoSlab/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style:  normal;
}


@font-face {
  font-family: Avenir;
  src:         url('../fonts/Avenir/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: Avenir;
  src:         url('../fonts/Avenir/Avenir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style:  normal;
}
