.app {
  display:        flex;
  flex-direction: column;
  min-height:     100%;
}

main {
  width:       100%;
  flex:        1 0 auto;
  padding-top: 172px;
}

@media screen and (max-width: 767.98px) {
  main {
    padding-top: 90px;
  }
}