@import "../../../assets/scss/variables";

@media (any-hover: hover) {
  .header {
    .burgerMenu:hover {
      opacity: .7;
    }
    .menuWrapper {
      .menu ul li a:hover {
        color: $mainColor;
      }
    }
  }
}

.header {
  width:       100%;
  padding:     1rem 0;
  position:    fixed;
  top:         0;
  left:        0;
  z-index:     20;
  background:  $white;
  height:      172px;
  display:     flex;
  align-items: center;
  transition: 0.2s linear;
  &.headerFixed {
    height:     90px;
    box-shadow: 0 0 0.5rem -0.25rem black;
  }
  .logo {
    img {
      width: 9rem;
    }
  }
  .menuWrapper {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    .menu {
      ul {
        display:         flex;
        justify-content: space-between;
        align-items:     center;
        li {
          padding: 0 1rem;
          a {
            font-weight: 500;
            &:active {
              opacity: .7;
              color:   $mainColor;
            }
          }
        }
      }
    }
  }
  .burgerMenu {
    position:         relative;
    display:          none;
    width:            2rem;
    height:           2rem;
    border-radius:    50%;
    background-color: transparent;
    transition:       0.3s cubic-bezier(.87, 0, .13, 1);
    box-shadow:       none;
    border:           none;
    cursor:           pointer;
    &:active {
      opacity: .7;
    }
    .burgerMenuLines, .burgerMenuLines:after, .burgerMenuLines:before {
      position:   absolute;
      background: $black;
      width:      2rem;
      height:     0.1875rem;
      right:      0;
      transition: 0.3s cubic-bezier(.87, 0, .13, 1);
    }
    .burgerMenuLines {
      width: 75%;
      &:after {
        content: '';
        top:     -0.625rem;
      }
      &:before {
        content: '';
        width:   50%;
        top:     0.625rem;
      }
    }
    &.active {
      .burgerMenuLines {
        background-color: transparent;
        width:            100%;
        &::before {
          top:       0;
          transform: rotate(-45deg);
          width:     100%;
        }
        &::after {
          top:       0;
          transform: rotate(45deg);
        }
      }
    }
  }
}


@media screen and (max-width: 992px) {
  .header {
    height: 90px;
    .menuWrapper {
      .menu {
        display:         none;
        position:        fixed;
        background:      white;
        top:             0;
        left:            0;
        width:           100%;
        height:          100%;
        align-items:     center;
        justify-content: center;
        ul {
          flex-direction: column;
          li {
            padding: 2rem 0;
          }
        }
        &.active {
          display: flex;
        }
      }
    }
    .burgerMenu {
      display: block;
    }
  }
}