@import "../../../assets/scss/variables";

.contact {
  .help {
    padding: 3.5rem 0 12.75rem 0;
    .helpInner {
      display:     flex;
      align-items: center;
      .formWrapper {
        width:         53%;
        padding-right: 12%;
        h2 {
          margin-bottom: 3rem;
        }
        form {
          display:         flex;
          flex-wrap:       wrap;
          justify-content: space-between;
          width:           100%;
          label {
            width:         49%;
            position:      relative;
            margin-bottom: 1rem;
            span {
              position:         absolute;
              top:              50%;
              left:             1rem;
              transform:        translateY(-50%);
              font-family:      Avenir, sans-serif;
              font-size:        0.875rem;
              line-height:      1.36;
              color:            #728387;
              padding:          0.5rem;
              background-color: $white;
              transition:       .1s linear;
            }
            input:focus + span {
              top:         0;
              font-size:   0.625rem;
              line-height: 1.4;
            }
          }
        }
      }
      .image {
        width: 47%;
      }
    }
  }
  .information {
    background-color: $lightGreen;
    padding:          5.5rem 0;
    .informationInner {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
      .informationItemWrapper {
        width: 42%;
      }
      .map {
        width: 56%;
      }
    }
  }
}


@media screen and (max-width: 992px) {
  .contact {
    .help {
      padding: 1.4rem 0 5rem 0;
      .helpInner {
        flex-direction: column;
        .formWrapper {
          width:         100%;
          padding-right: 0;
          text-align:    center;
          margin-bottom: 5.625rem;
          form {
            max-width: 30.625rem;
            margin:    0 auto;
          }
          button {
            margin: 0 auto;
          }
        }
        .image {
          width:     100%;
          max-width: 24rem;
        }
      }
    }
    .information {
      .informationInner {
        flex-direction: column;
        .informationItemWrapper {
          width: 100%;
        }
        .map {
          width:      100%;
          margin-top: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .contact {
    .help {
      padding: 5rem 0 3rem 0;
      h2 {
        font-size:   3rem;
        line-height: 1.25;
      }
      .helpInner {
        .formWrapper {
          margin-bottom: 2.625rem;
          form {
            label {
              width:         100%;
              margin-bottom: 1.35rem;
            }
          }
        }
      }
    }
    .information {
      padding: 3.5rem 0 2.25rem 0;
    }
  }
}