@import "../../../assets/scss/variables";

@media (any-hover: hover) {
  .home {
    .link:hover {
      img {
        margin-left: 1.5rem;
      }
    }
    .overview {
      .overviewItem:hover {
        opacity:          1;
        background-color: $secondColor;
        p {
          color: $white;
        }
      }
    }
    .products {
      .productsItem:hover {
        opacity:    1;
        border:     0.0625rem solid transparent;
        box-shadow: 0 20px 45px rgba(0, 0, 0, 0.06);
        &:nth-child(odd), &:nth-child(even) {
          > div {
            background-color: $mainColor;
            &:before {
              content:          '';
              position:         absolute;
              left:             0;
              top:              0;
              z-index:          1;
              width:            50%;
              height:           50%;
              background-color: $black;
              opacity:          .07;
            }
          }
        }
        &:nth-child(even) > div:before {
          top:    inherit;
          left:   inherit;
          bottom: 0;
          right:  0;
        }
        > div {
          background-color: $mainColor;
        }
        img {
          filter: brightness(100);
        }
      }
    }
    .pricing {
      .pricingItem:hover {
        border:     0.0625rem solid transparent;
        box-shadow: 0 20px 45px rgba(0, 0, 0, 0.06);
      }
    }
  }
}

ul.checked {
  margin-bottom: 2.75rem;
  li {
    font-size:    1.125rem;
    line-height:  2.78;
    position:     relative;
    color:        #8c94a5;
    padding-left: 2.5rem;
    &.done {
      color: $black;
      &:before {
        content:          '';
        position:         absolute;
        left:             0;
        top:              1.5rem;
        transform:        translateY(-50%);
        width:            1.6875rem;
        height:           1.6875rem;
        background-color: $lightGreen;
        border-radius:    50%;

      }
      &:after {
        content:         '';
        background:      url("../../../assets/images/checked.svg") center center no-repeat;
        background-size: contain;
        position:        absolute;
        left:            0.5rem;
        top:             1.5rem;
        transform:       translateY(-50%);
        width:           0.8rem;
        height:          0.8rem;
      }
    }
  }
}

.link {
  color:          $mainColor;
  margin-top:     2rem;
  display:        block;
  letter-spacing: -1px;
  &:active {
    opacity: .7;
    img {
      margin-left: 1.5rem;
    }
  }
  img {
    width:       0.875rem;
    margin-left: 0.875rem;
    transition:  .3s linear;
  }
}

.home {
  .accelerate {
    padding: 5rem 0 13rem 0;
    .accelerateInner {
      display:         flex;
      align-items:     center;
      justify-content: space-between;
      .image {
        width:    65%;
        position: relative;
        .cloud1 {
          position:  absolute;
          z-index:   -1;
          left:      27%;
          top:       0;
          width:     11%;
          animation: cloud1Animation 12s linear 0s alternate infinite;
        }
        .cloud2 {
          position:  absolute;
          z-index:   -1;
          right:     15%;
          top:       8%;
          width:     19%;
          animation: cloud2Animation 12s linear 0s alternate infinite;
        }
      }
      .accelerateButton {
        display:         flex;
        justify-content: flex-start;
        align-items:     center;
        button {
          height: 3.75rem;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .accelerateDescription {
      padding-right: 2%;
      width:         35%;
    }
  }
  .overview {
    background-color: $lightGreen;
    padding:          7.5rem 0;
    .overviewInner {
      .overviewTitle {
        margin-bottom: 3rem;
        p {
          max-width: 30rem;
          color:     #728387;
        }
      }
    }
    .overviewItemWrapper {
      display:         flex;
      justify-content: space-between;
      align-items:     flex-start;
      flex-wrap:       wrap;
      margin-bottom:   1rem;
    }
    .overviewItem {
      background-color: $white;
      padding:          2.5rem 1rem 1.5rem 2.5rem;
      width:            23%;
      cursor:           pointer;
      &:nth-child(odd), &:nth-child(even) {
        > .image {
          background-color: $mainColor;
          position:         relative;
          display:          flex;
          align-items:      center;
          justify-content:  center;
          &:before {
            content:          '';
            position:         absolute;
            left:             0;
            top:              0;
            z-index:          1;
            width:            50%;
            height:           50%;
            background-color: $black;
            opacity:          .07;
          }
        }
      }
      &:nth-child(even) > .image:before {
        left:   inherit;
        top:    inherit;
        right:  0;
        bottom: 0;
      }
      .image {
        width:            6.25rem;
        height:           6.25rem;
        margin-bottom:    3rem;
        background-color: $mainColor;
        padding:          2rem;
        img {
          object-fit: contain;
          height:     100%;
          filter:     brightness(100);
        }
      }
      p {
        font-size:   1.25rem;
        line-height: 1.4;
        max-width:   12rem;
        color:       $black;
        font-weight: 500;
      }

      &:active {
        background-color: $secondColor;
        opacity:          .8;
        p {
          color: $white;
        }
      }
    }
    .overviewItem:not(:last-child) {
      margin-right: 2%;
    }
  }
  .products {
    padding: 9rem 0;
    .productsInner {
      .productsTitle {
        margin-bottom: 5rem;
        p {
          max-width: 29rem;
          color:     #728387;
        }
      }
    }
    .pagination {
      display: none;
      button {
        width: 100%;
        &:hover:before, &:active:before {
          left: 110%;
        }
      }
    }
    .productsItemWrapper {
      display:         flex;
      justify-content: space-between;
      align-items:     flex-start;
      flex-wrap:       wrap;
    }
    .productsItem {
      background-color: $white;
      border:           0.0625rem solid #d8dde2;
      width:            32%;
      margin-bottom:    1.25rem;
      cursor:           pointer;
      display:          flex;
      align-items:      center;
      justify-content:  flex-start;
      height:           5rem;
      padding-right:    0.5rem;
      > div {
        width:            5rem;
        height:           100%;
        padding:          1.65rem;
        background-color: $lightGreen;
        position:         relative;
        display:          flex;
        align-items:      center;
        justify-content:  center;

        img {
          height:     100%;
          width:      100%;
          object-fit: contain;
        }
      }
      p {
        margin-bottom: 0;
        font-weight:   500;
        padding-left:  1.875rem;
        color:         $black;
      }
      &:active {
        border:     0.0625rem solid transparent;
        box-shadow: 0 4px 10px 0 #e0e0e0;
        > div {
          background-color: $mainColor;
        }
        img {
          filter: brightness(100);
        }
      }
    }
  }
  .pricing {
    padding: 8rem 0;
    .pricingInner {
      .pricingTitle {
        margin-bottom: 5rem;
        p {
          max-width: 30rem;
          color:     #728387;
        }
      }
    }
    .pricingItemWrapper {
      display:         flex;
      justify-content: space-between;
      align-items:     flex-start;
      flex-wrap:       wrap;
    }
    .pricingButtons {
      display: none;
    }
    .pricingItem {
      width:            32%;
      background-color: $white;
      border:           0.0625rem solid #e0e0e0;
      padding:          3.125rem 2.5rem;
      margin-bottom:    3.75rem;
      transition:       .2s linear;
      > p {
        color: #728387;
      }
      &:active {
        border:     0.0625rem solid transparent;
        box-shadow: 0 20px 45px rgba(0, 0, 0, 0.06);
      }
      hr {
        margin-right: -2.5rem;
      }
      &:nth-child(1), &:nth-child(2) {
        hr {
          opacity:          1;
          background-color: #d8dde2;
        }
      }
      &.highLighted {
        background-color: $secondColor;
        color:            $white;
        .price {
          color: $white;
        }
        ul {
          li {
            color:   $white;
            opacity: .5;
            &.done {
              color:   $white;
              opacity: 1;
              &:before {
                background-color: $mainColor;
              }
              &:after {
                filter: brightness(100);
              }
            }
          }
        }
      }
      .price {
        font-size:     2.25rem;
        line-height:   1.36;
        color:         $mainColor;
        display:       flex;
        align-items:   flex-start;
        margin-bottom: 2.5rem;
        span {
          font-size:    1.25rem;
          line-height:  1.2;
          color:        #8c94a5;
          top:          0.5rem;
          margin-right: 0.5rem;
          position:     relative;
        }
      }
      button {
        width: 100%;
      }
    }
  }
  .services {
    padding:          0.5rem 2.5rem;
    background-color: $lightGreen;
    margin-bottom:    3rem;
    h3 {
      margin-bottom: 0;
    }
    .servicesInner {
      display:         flex;
      flex-wrap:       wrap;
      justify-content: space-between;
      align-items:     flex-start;
      ul {
        padding-top:     0;
        width:           65%;
        display:         flex;
        flex-wrap:       wrap;
        justify-content: flex-start;
        align-items:     flex-start;
        li {
          width: 46%;
          &.done {
            &:before {
              background-color: $mainColor;
            }
            &:after {
              filter: brightness(100);
            }
          }
        }
      }
      button {
        width: 16rem;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  ul.checked {
    li {
      font-size:   1rem;
      line-height: 2.75;
      &.done {
        &:before {
          width:  1.44rem;
          height: 1.44rem;
          top:    1.25rem;
        }
        &:after {
          width:  0.5rem;
          height: 0.5rem;
          top:    1.25rem;
        }
      }
    }
  }
  .home {
    .accelerate {
      padding: 5rem 0 2rem 0;
      .accelerateInner {
        flex-direction: column;
        .image {
          max-width: 29rem;
          width:     100%;
        }
        .accelerateButton {
          justify-content: center;
        }
      }
      .accelerateDescription {
        width:         100%;
        padding-right: 0;
        margin-bottom: 7rem;
        text-align:    center;
      }
    }
    .overview {
      padding: 6rem 0 4rem 0;
      .overviewInner {
        .overviewTitle {
          margin-bottom: 3.5rem;
        }
      }
      .overviewItem {
        width:         32%;
        margin-bottom: 1rem;
        .image {
          width:         5rem;
          height:        5rem;
          padding:       1.5rem;
          margin-bottom: 2rem;
        }
        p {
          font-size:   1rem;
          line-height: 1.625;
        }
      }
      .overviewItem:not(:last-child) {
        margin-right: 0;
      }
    }
    .products {
      padding: 5.75rem 0;
      .productsInner {
        .productsTitle {
          margin-bottom: 3.75rem;
        }
      }
      .productsItem {
        width:  48%;
        height: 3.75rem;
        > div {
          width:   3.5rem;
          padding: 1rem;
        }
        p {
          font-size:   1rem;
          line-height: 1.375;
        }
      }
    }
    .pricing {
      padding: 7rem 0 4.4rem 0;
      .pricingInner {
        .pricingTitle {
          margin-bottom: 4rem;
        }
      }
      .pricingItem {
        width:         48%;
        padding:       2.25rem 2rem;
        margin-bottom: 2.75rem;
        hr {
          margin-right: -2rem;
        }
        .price {
          margin-bottom: 2rem;
        }
        p {
          font-size:   0.875rem;
          line-height: 1.57;
        }
        &:nth-child(3) {
          margin-bottom: 0;
        }
      }
    }
    .services {
      padding: 2.5rem 0.5rem 2.5rem 2.25rem;
      width:   48%;
      .servicesInner {
        padding-top: 4rem;
        ul {
          width:         100%;
          margin-bottom: 2rem;
          li {
            width: 100%;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 767.98px) {
  ul.checked {
    margin-bottom: 1.25rem;
  }
  .home {
    .accelerate {
      .accelerateDescription {
        margin-bottom: 4rem;
      }
    }
    .overview {
      padding: 4.5rem 0 2rem 0;
      .overviewInner {
        .overviewTitle {
          margin-bottom: 4rem;
        }
      }
      .overviewItem {
        width:         100%;
        margin-bottom: 1rem;
        padding:       2rem 1rem 1rem 2rem;
        p {
          max-width: 100%;
        }
        .image {
          width:         3.75rem;
          height:        3.75rem;
          margin-bottom: 1.25rem;
          padding:       1rem;
        }
      }
    }
    .products {
      padding: 4rem 0;
      .productsInner {
        .productsTitle {
          margin-bottom: 2.25rem;
        }
      }
      .pagination {
        display: flex;
      }
      .productsItem {
        width: 100%;
        p {
          font-size:   0.9375rem;
          line-height: 1.33;
        }
      }
    }
    .pricing {
      padding: 5rem 0 3.75rem 0;
      .pricingButtons {
        display:       flex;
        width:         100%;
        margin-bottom: 2.25rem;
        button {
          width:            33%;
          background-color: $lightGreen;
          border:           0.0625rem solid transparent;
          color:            #1d343c;
          &.active, &:hover, &:active {
            background-color: $mainColor;
            color:            $white;
            &:before {
              left:             110%;
            }
          }
        }
      }
      .pricingInner {
        .pricingTitle {
          margin-bottom: 3rem;
          h2 {
            max-width: 12rem;
          }
        }
      }
      .pricingItem {
        display: none;
        width:   100%;
        padding: 2.5rem 1rem 1.25rem 1rem;
        hr {
          margin-right: -1rem;
        }
      }
    }
    .services {
      width:         100%;
      padding:       2.5rem 1.25rem 1.5rem 1.25rem;
      margin-bottom: 0;
      .servicesInner {
        ul {
          margin-bottom: 0;
          li {
            width: 100%;
          }
        }
        button {
          width: 100%;
        }
      }
    }
  }
}

// animations
@media screen and (min-width: 767px) {
  .accelerate {
    .image {
      opacity:   0;
      transform: translate(100%, 0);
    }
    .accelerateDescription {
      opacity:   0;
      transform: translate(0, 100%);
    }
  }

  .overview {
    .overviewTitle {
      opacity:   0;
      transform: translate(0, 100%);
    }
    .overviewItemWrapper {
      opacity:   0;
      transform: translate(0%, 50%);
    }
  }

  .products {
    .productsTitle {
      opacity:   0;
      transform: translate(0, 100%);
    }
    .productsItemWrapper {
      opacity:   0;
      transform: translate(0%, 50%);
    }
  }

  .pricing {
    overflow: hidden;
    .pricingTitle {
      opacity:   0;
      transform: translate(0, 100%);
    }
    .pricingItemWrapper {
      opacity:   0;
      transform: translate(0, 100%);
    }
  }
  .services {
    opacity:   0;
    transform: translate(-500px, 0);
  }
}

@keyframes cloud1Animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }

}

@keyframes cloud2Animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}