.choose {
  padding: 8rem 0;
  text-align: center;
  p {
    max-width: 24.75rem;
    margin: 0 auto;
  }
  h1 {
    margin-bottom: 1.75rem;
  }
}

.buttonBackContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 8rem;
}

@media screen and (max-width: 992px) {
  .choose {
    padding: 12.5rem 0;
  }
}

@media screen and (max-width: 767.98px) {
  .choose {
    padding: 10.5rem 0;
  }

  .buttonBackContainer {
    flex-direction: column;
    height: 150px;
    padding: 0;
  }
}
