@import "./assets/scss/variables";

@media (any-hover: hover) {
  .btn-primary, .btn-dark, .btn-second {
    &:hover:before {
      left: 0;
    }
  }
  .btn-second:hover {
    color: $white;
  }
}

*, *:after, *:before {
  margin:     0;
  padding:    0;
  box-sizing: border-box;
  outline:    none;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  color:           $black;
  text-decoration: none;
  cursor:          pointer;
  font-size:       1.125rem;
  line-height:     1.39;
}

body, html {
  margin:  0;
  padding: 0;
  height:  100%;
}

html {
  font-size:   16px;
  font-family: Avenir, sans-serif;
}

h1 {
  font-size:     3.75rem;
  line-height:   1.116;
  font-family:   'Roboto Slab', sans-serif;
  font-weight:   100;
  margin-bottom: 3rem;
}

h2 {
  font-size:     3rem;
  font-family:   'Roboto Slab', sans-serif;
  font-weight:   300;
  line-height:   1.3125;
  margin-bottom: 1rem;
}

h3 {
  font-size:     2.25rem;
  font-family:   'Roboto Slab', sans-serif;
  font-weight:   200;
  line-height:   2.68;
  margin-bottom: 1.625rem;
}

h4 {
  font-size:     1.875rem;
  font-family:   'Roboto Slab', sans-serif;
  font-weight:   400;
  line-height:   1.3;
  margin-bottom: 0.5rem;
}


h5 {
  font-size:   1.125rem;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  line-height: 1.33;
  color:       $black;
}

h5 {
  font-size:   1.125rem;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  line-height: 1.33;
  color:       $black;
}


p {
  font-family:   Avenir, sans-serif;
  font-weight:   normal;
  font-size:     1rem;
  line-height:   1.56;
  color:         #8c94a5;
  margin-bottom: 1rem;
}


hr {
  background: $white;
  opacity:    .1;
  height:     1px;
  border:     0;
  margin:     2.5rem 0;
}

input, textarea {
  width:            100%;
  border:           0.0625rem solid #E4E8EB;
  font-family:      Avenir, sans-serif;
  padding:          1rem;
  font-size:        0.875rem;
  line-height:      1.36;
  color:            #728387;
  box-shadow:       none;
  background-color: transparent;
  &:hover, &:focus {
    border: 0.0625rem solid $mainColor;
  }
}

textarea {
  margin: 0.25rem 0 1.5rem 0;
}

iframe {
  width: 100%;
}

#root {
  height: 100%;
}

button {
  cursor:      pointer;
  font-size:   1rem;
  line-height: 1.375rem;
  font-family: Avenir, sans-serif;
  font-weight: 500;
}

.btn-primary, .btn-dark {
  position:        relative;
  z-index:         1;
  overflow:        hidden;
  background:      $mainColor;
  border:          none;
  color:           $white;
  padding:         1rem;
  width:           11rem;
  transition:      0.4s ease-out;
  height:          3.5rem;
  cursor:          pointer;
  font-size:       1rem;
  line-height:     1.375rem;
  font-family:     Avenir, sans-serif;
  font-weight:     500;
  display:         inline-flex;
  align-items:     center;
  justify-content: center;
  &:before {
    content:          '';
    position:         absolute;
    z-index:          -1;
    width:            100%;
    height:           100%;
    left:             110%;
    top:              0;
    background-color: $darkGreen;
    transition:       0.4s ease-out;
  }
  &:active:before {
    opacity: .7;
    left:    0;
  }
}

.btn-dark {
  background: #1d343c;
  &:before {
    background-color: #1a2f36;
  }
}

.btn-second {
  position:        relative;
  z-index:         1;
  overflow:        hidden;
  background:      transparent;
  border:          0.0625rem solid $yellow;
  color:           $yellow;
  padding:         1rem;
  width:           13.3125rem;
  transition:      .3s linear;
  cursor:          pointer;
  font-size:       1rem;
  line-height:     1.375rem;
  font-family:     Avenir, sans-serif;
  font-weight:     500;
  display:         inline-flex;
  align-items:     center;
  justify-content: center;
  &:before {
    content:          '';
    position:         absolute;
    z-index:          -1;
    width:            100%;
    height:           100%;
    left:             110%;
    top:              0;
    background-color: $yellow;
    transition:       0.4s ease-out;
  }
  &:active {
    color: $white;
    &:before {
      opacity: .7;
      left:    0;
    }
  }
}

.btn-primary--prev, .btn-primary--next, .btn-primary--nextDark {
  width:            3.5rem;
  max-width:        3.5rem;
  height:           3.5rem;
  background-color: $darkGreen;
  border:           none;
  box-shadow:       none;
  &:hover, &:active {
    opacity: .7;
  }
  &:before {
    content:         '';
    background:      url("./assets/images/arrow.svg") center center no-repeat;
    background-size: contain;
    width:           1rem;
    height:          100%;
    display:         block;
    margin:          0 auto;
  }
}

.btn-primary--nextDark {
  background-color: #1a2f36;
  &:hover, &:active {
    color:   #1d343c;
    opacity: 1;
  }

}

.btn-primary--prev:before {
  transform: rotate(-180deg);
}

.accelerateButton {
  display:         flex;
  justify-content: flex-start;
  align-items:     center;
  box-shadow:      none;
  border:          none;
  button {
    height: 3.75rem;
    &:hover {
      opacity: 1;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.d-none {
  display: none !important;
}

.container {
  width:     100%;
  max-width: 1300px;
  margin:    0 auto;
  padding:   0 3rem;
}

.greenTitle {
  color:       $mainColor;
  font-weight: 500;
}

.normalTitle {
  font-weight: 500;
}

.d-block {
  display: block !important;
}

@media screen and (max-width: 992px) {
  h3 {
    font-size:   1.5rem;
    line-height: 1.33;
  }
  h4 {
    font-size:   1.5rem;
    line-height: 1.33;
  }
  .accelerateButton {
    justify-content: center;
  }
}

@media screen and (max-width: 767.98px) {
  hr {
    margin: 2.75rem 0;
  }
  h1 {
    font-size:   2.5rem;
    line-height: 1.15;
  }
  h2 {
    font-size:     2.25rem;
    line-height:   1.33;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  p {
    font-size:   0.75rem;
    line-height: 1.83;
  }
  .container {
    padding: 0 1.2rem;
  }
}