@import "../../../assets/scss/variables";


.products {
  .fundraising {
    background-color: rgba(48, 177, 121, 0.05);
    .fundraisingInner {
      padding: 7.5rem 0;
      display: flex;
      .tabs {
        border-right:  0.0625rem solid rgba(48, 177, 121, 0.2);
        padding-right: 2.5rem;
        width:         26%;
        min-width:     15.5rem;
        ul {
          font-size:   1.125rem;
          line-height: 3.67;
          color:       #91d6b8;
          li {
            cursor:       pointer;
            position:     relative;
            padding-left: 0.5rem;
            &:hover, &:active {
              color:      $mainColor;
              transition: .3s linear;
            }
            &:before {
              content:          '';
              position:         absolute;
              z-index:          1;
              left:             0;
              top:              50%;
              transform:        translateY(-50%);
              width:            0.125rem;
              height:           1.625rem;
              background-color: $mainColor;
              opacity:          0;
            }
            &.active {
              color: $mainColor;
              &:before {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .products {
    .fundraising {
      .fundraisingInner {
        padding: 4rem 0;
        .tabs {
          display: none;
        }
      }
    }
  }
}

@keyframes cloud1Animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }

}

@keyframes cloud2Animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}