@import "../../../assets/scss/variables";

@media (any-hover: hover) {
  .footer {
    .bottomSection {
      ul li a:hover {
        opacity: 1;
        color:   $mainColor;
      }
    }
    .copyright a:hover {
      opacity: 1;
      color: $mainColor;
    }
  }
}

.footer {
  background: $secondColor;
  padding:    5rem 0;
  color:      $white;
  hr {
    margin: 5.25rem 0;
  }
  .topSection {
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    > div {
      width: 50%;
    }
    p {
      opacity:     .7;
      line-height: 1.625;
      font-family: Avenir, sans-serif;
      font-weight: normal;
      color:       $white;
      max-width:   29rem;
    }
    .topSectionButtons {
      text-align:  right;
      padding-top: 3rem;
      a:nth-child(2) {
        margin-left: 1rem;
      }
    }
  }
  .bottomSection {
    display:         flex;
    justify-content: space-between;
    align-items:     flex-start;
    ul {
      width: 21%;
      li {
        font-size:   0.875rem;
        line-height: 2.14;
        &.logo {
          opacity:       1;
          width:         9rem;
          margin-bottom: 1rem;
        }
        &.bottomSectionTitle {
          font-size:      0.875rem;
          font-family:    Avenir, sans-serif;
          font-weight:    500;
          line-height:    1.78;
          margin-bottom:  1rem;
          text-transform: uppercase;
          opacity:        1;
          height:         1.5rem;
        }
        a {
          opacity:     .5;
          color:       $white;
          font-size:   0.875rem;
          line-height: 2.14;
          &:active {
            opacity: .7;
            color:   $mainColor;
          }
        }
      }
    }
    ul:nth-child(2) {
      width: 21%;
    }
    .listWrapper1 {
      width:         100% !important;
      margin-bottom: 0;
    }

    .listWrapper2 {
      width:           14%;
      display:         flex;
      justify-content: space-between;
      ul {
        width: 100%;
      }
    }
  }
  .copyright {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    padding:         4rem 0 0 0;
    p, a {
      font-size:   0.875rem;
      line-height: 1.78;
      color:       $white;
    }
    a {
      opacity: .5;
    }
    a:active {
      color: $mainColor;
    }
    .line {
      margin: 0 0.5rem;
    }
  }
}


@media screen and (max-width: 992px) {
  .footer {
    padding: 4rem 0 2rem 0;
    hr {
      margin: 4.75rem 0;
    }
    .topSection {
      flex-direction: column;
      p {
        margin: 0 auto;
      }
      > div {
        width:      100%;
        text-align: center;
      }
      .topSectionButtons {
        display:         flex;
        justify-content: center;
        align-items:     center;
      }
    }
    .bottomSection {
      flex-wrap:       wrap;
      justify-content: flex-end;
      margin-bottom:   -4rem;
      ul {
        width:         33%;
        margin-bottom: 4rem;
      }
      ul:nth-child(2) {
        width: 32%;
      }
      .listWrapper2 {
        width:          32%;
        flex-direction: column;
        ul {
          width: 100%;
        }
      }
    }
  }
}


@media screen and (max-width: 567px) {
  .footer {
    padding: 4rem 0 0.5rem 0;
    hr {
      margin: 3.5rem 0;
    }
    .topSection {
      p {
        margin: 0;
      }
      > div {
        text-align: left;
      }
      .topSectionButtons {
        flex-direction: column;
        a {
          margin: 0 0 1rem 0 !important;
          width:  100%;
        }
      }
    }
    .bottomSection {
      justify-content: space-between;
      ul {
        width:         100%;
        margin-bottom: 2.85rem;
        li {
          a {
            font-size:   0.75rem;
            line-height: 2.5;
          }
        }
      }
      ul:nth-child(2) {
        width: 100%;
      }
      .listWrapper1 {
        display:         flex;
        flex-wrap:       wrap;
        justify-content: space-between;
        li {
          width: 50%;
        }
      }
      .listWrapper2 {
        width:          100%;
        flex-direction: row;
        ul {
          width: 49%;
        }
      }
    }
    .copyright {
      flex-direction: column-reverse;
      text-align:     center;
      p {
        font-size:   0.75rem;
        line-height: 1.83;
      }
      a {
        font-size:   0.75rem;
        line-height: 2.08;
      }
    }
  }

}